@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400&display=swap');

.svg, ww {
    fill: rgba(0, 0, 0, 1);
}
.ww {
    height: 30px;
}

.display-1 {
    margin-top: 40px;
    font-weight: 500;
    font-size: 85px;
    line-height: 88px;
    color: #000000;
    letter-spacing: -0.05em;
}

.custom-btn {
    background-color: black;
}

.bg-yellow {
    background-color: #FFC017; 

}

.border-bottom-dark {
    border-bottom: 1px solid rgb(41, 41, 41);
}

body {
    font-family: 'PT Serif', serif;
    margin: 0;
    padding: 0;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    color: rgba(0,0,0,0.8);
    position: relative;
    min-height: 100vh;
}

col-6 {
    height: 10px;
}

.col-6 img {
    height: 450px;
    margin-left: 330px;
}

.col-11 img {
    height: 25px;
    width: 25px;
}

.btn {
    border-radius: 100px;
    width: 120px;
    padding: 8px 16px;
    line-height: 20px;
    font-size: 14px;
}

.btn1 {
    width: 213px;
    color: white;
    font-size: 20px;
    font-weight: 400px;
    padding: 8px 20px;
    line-height: 24px;
    text-align: center;
    box-sizing: border-box;
    border-style: solid;
    border-width: 1px;
    text-decoration: none;
    border-radius: 99em;
}

.btn2 {
    border-radius: 250px;
    width: 120px;
}


.aside-buttons > li {
    margin-bottom: 10px;
}

.border-top-dark {
    border-top: 1px solid grey;
}