@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@600&display=swap');

* {
    margin: 0;
    padding: 0;
    
}

/* .container {
    height: 100vh;
    background-size: 100% 100%;
} */

.container .navbar {
    width: 100%;
    height: 70px;
    background-color: #b5c9cf;
    
}

.navbar .logo {
    display: inline-block;
    margin-left: 50px;
    margin-bottom: 10px;
}

.navbar .logo a {
    text-decoration: none;
    font-size: 30px;
    font-family: sans-serif;
    color: white;
    color: rgb(228, 131, 131);
}

.navbar ul {
    float: right;
    margin-right: 20px;
}

.navbar ul li {
    line-height: 50px;
    list-style: none;
    display: inline-block;
    margin: 0 8px;
}

.navbar ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 6px 13px;
    font-family: 'Roboto';
    transition: .5s;
}

.navbar ul li a.active,
.navbar ul li a:hover {
    background: rgb(228, 131, 131);
    border-radius: 2px;
}

.container .center {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% -50%);
    font-family: sans-serif;
    user-select: none;
}

body {
    background-color: rgb(228, 131, 131);
}

.card {
    margin: 10px;
    background-color: #fff;
    padding: 20px;
    border: 1px solid #ddd;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  }

.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr)); /* Grid sütunları tanımlama */
    gap: 20px; /* Grid öğeleri arasındaki boşluk */
  }